html, body, .wrapper {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.row {
    --bs-gutter-x: 0;
}

.row1 {
    flex: 0 0 5%;
    max-height: 5%;
    min-height: fit-content;
    align-items: center;
    padding-left: 0.5em;
    border-bottom: solid 1px var(--editor-border-color-light);
    background-color: #5c2296;
}

    /*Title*/
    /*.row1 > div >*/
    h1 {
        margin-bottom: 0em;
        font-size: 1.8em;
        font-weight: bold;
        color: var(--editor-color-light);
    }

    /* Hide h1 if page size is less than 600px */
    @media (max-width: 600px) {
        h1 {
            display: none;
        }
    }

    /*About*/
    .row1 > div > div > a {
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

.row3 {
    flex: 0 0 10%;
    max-height: 10%;
}


.row2 {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 85%;
    max-height: 85%;
}

    .row2 > div {
        max-height: 100%;
    }

.removeCenterOnMobile {
    justify-content: center;
}


#optionsSidebar {
    border-right: solid 1px var(--editor-border-color-light);
    padding: 10px 30px;

    display: none;
}

#mainCenter {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

#editorToolbar {
    padding: 0.4em;
    background-color: white;
    border: solid 1px var(--editor-border-color-light);
}

    #editorToolbar > div > img {
        width: auto;
        height: 1.4em;
        cursor: pointer;
        transition: transform 0.2s;
        padding: 0 0.4em 0 0.4em;
    }

        #editorToolbar > div > img:hover {
            transform: scale(1.1);
        }

    #editorToolbar > div {
        padding: 0 0.4em 0 0.4em;
        width: fit-content;
    }


    /*Click animation*/
    #editorToolbar div img {
        cursor: pointer;
        transition: transform 0.1s ease;
    }
    
    #editorToolbar div img:active {
        transform: scale(0.9);
    }



#editorWrapper {
    height: -webkit-fill-available;
    border-left: solid 1px var(--editor-border-color-light);
    border-right: solid 1px var(--editor-border-color-light);
    margin: 0 10em;
}

@media (max-width: 1200px) {
    #editorWrapper {
        border: none;
        margin: 0;
    }
}


#codeEditor {
    height: 100%;
    width: 100%;
}



#messageList {
    flex: 0 0 21%;
    overflow-y: auto;
    border-top: 1px solid var(--editor-border-color-light);
}

    #messageList > div > div > ul {
        list-style: none;
        padding-left: 5px;
    }

#messageSelection {
    border-bottom: 1px solid var(--editor-border-color-light);
    padding: 5px;
}

    #messageSelection > div {
        padding: 0;
    }


#editorSidebar {
    border-left: solid 1px var(--editor-border-color-light);
    
    display: none;
}



.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid var(--button-color); /* Blue #3498db*/
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    animation: spin 1s linear infinite; /* Apply animation */
    flex: 1; /* Take 100% of available space */
}

.loader2 {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 100%;
    animation: spin 1s linear infinite; /* Apply animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Custom CSS to add borders to elements */
.custom-border {
    border-top: solid 1px var(--editor-border-color-light);
    padding: 10px;
}

/* Custom CSS to make row 3 take up all available height */
.full-height {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make the container full height of the viewport */
    /*padding: 0; */ /* Remove padding */
}

/* Custom CSS to set fixed height for rows 1, 2, and 4 */
.fixed-height {
    height: 50px; /* Set fixed height */
}

.full-height .row {
    flex: 1; /* Make all rows flexible */
    width: -webkit-fill-available; /* Make rows take up 100% width */
}



#aboutButton {
    color: var(--editor-color-light);
    font-weight: bold;
}



#workspaceList {
    list-style: none;
    border: solid 1px var(--editor-border-color-light);
    padding: 0.5em;
}
    #workspaceList li {
        padding: 0.3em;
    }

    #workspaceList li button {
        padding: 0px 5px;
        margin: 2px;
    }

    #workspaceList li:not(:last-child) {
        border-bottom: 1px solid var(--editor-border-color-light);
    }



#nugetPackageSection {
    padding: 5px;
    background-color: #ebebeb;
    max-width: fit-content;
}

    #nugetPackageSection > input {
        width: inherit;
    }

    #nugetPackageSection > div {
        overflow-x: auto;
        overflow-y: auto;
    }

        #nugetPackageSection > div > ul {
            padding: 0;
            list-style: none;
        }


.nugetPackageItem {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0px 5px 0px 5px;
}

    .nugetPackageItem:hover {
        background-color: rgb(255, 175, 174);
    }

.nugetPackageItemInstalled {
    padding: 2px 5px 2px 5px;
}

.nugetPackageRemoveButton {
    margin-left: 15px;
    padding: 2px 5px 2px 5px;
    background-color: var(--button-color);
    color: white;
}